body {
  background-color: #ebecef !important;
}

.login {
  background-color: #ffffff;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 300px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.login_form {
  margin-top: 20px;
}
.price_standard {
  color: green;
}

.price.has_discount .price_standard {
  text-decoration: line-through;
  color: #acacaf;
}
.price_discount {
  color: #e7114e;
  margin-left: 10px;
}

.products {
  padding: 20px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  row-gap: 30px;
}
.ant-card-meta-title {
  text-overflow: none !important ;
  white-space: pre-wrap !important;
}

.badge {
  background-color: #2dc5f3;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-size: 10px;
  margin-top: 12px;
  display: flex;
  max-width: fit-content;
}

.badge span:first-child {
  margin-right: 4.5px;
}
.badge.expired {
  background-color: #ee5b5b;
}

.product {
  padding: 10px 0px !important;
}
.ant-card-body {
  padding: 12px !important;
}

.filter {
  background: #002366;
  padding: 20px;
  border-radius: 5px;
  color: white;
  max-width: 700px;
  margin: 0 auto;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.header {
  padding: 0px 40px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-layout-sider {
  min-height: 100vh;
}

.spacer-20 {
  margin-bottom: 20px;
}
.ant-card-cover {
  padding: 20px;
}
.ant-slider-mark-text {
  color: white !important;
}
.price_slider {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.price_slider label {
  margin-right: 30px;
  height: fit-content;
  padding-top: 5px;
}
.price_slider .ant-slider {
  flex: 1;
  max-width: 300px;
  height: fit-content;
}
.login_title {
  margin-bottom: 20px;
}
